<% layout('layouts/boilerplate') %>
    <h1>
        <%= campground.title %>
    </h1>
    <h1>
        <%= campground.location %>
    </h1>
    <img src="<%= campground.image %> " alt="">
    <p>
        <%= campground.description %>
    </p>

    <footer>
        <a href="/campgrounds/<%= campground._id %>/edit">Edit Campground</a>
        <br>
        <form action="/campgrounds/<%= campground.id %>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
        <a href="/campgrounds">All Campgrounds</a>
    </footer>